
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #ffe0f7 0%, #ffd6ee 100%) !important;
}

::selection {
  background: #ff69b4;
  color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ff69b4;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: #ffe0f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}